@charset "utf-8";
/* Copyright 2016 Bruno Massa */
/* This file is part of LuxVilla.

    LuxVilla is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LuxVilla is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LuxVilla.  If not, see <http://www.gnu.org/licenses/>. */


/* CSS Document */
html, body{
	/*Correçao de um bug no body*/
	margin:0 !important;
	padding:0 !important;
	width:100%;
	height:100%;
}
 ul.menu {
	/*menu*/
	list-style-type: none;
	display:table;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;/*cor do menu*/
	height:60px;
	width: 100%;

}

ul.menu li {
    float: right;/*alinhamento dos links*/
	text-align: center;
	height:inherit;
}

ul.menu li a {
    display: inline-block;
    color: #651D31;
    text-align: center;
    padding: 22px;
    text-decoration: none;
	
}

ul.menu li:first-child{
	float:left;
}

ul.menu li:first-child:hover a {
    background-color: #FFF;
	color: #FFF;
	padding: 22px;
}

ul.menu li a:hover{
    background-color: #651D31;
	color: #FFF;
	padding: 22px;
}

ul.menu li a.active{
    background-color: #651D31;
	color: #FFF;
}

ul.menu li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.menu li:not(:first-child) {display: none;}
  ul.menu li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.menu.responsive {position: fixed;}
  ul.menu.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.menu.responsive li {
    float: none;
    display: block;
  }
  ul.menu.responsive li a {
    display: block;
    text-align: center;
  }
}

p{
	/*estilo do paragrafo*/
	margin-left:20px;
	margin-top:20px;
}
.pcaixa{
	/*estilo do paragrafo*/
	margin-left:20px;
	margin-top:20px;
	text-align:center;
	max-width:21cm;
	width: auto;
	float:left;
}

.caixacasas{
	 -webkit-box-shadow: 3px 3px 6px rgba(50,50,50,0.28);
	 margin-top:20px; 
	 margin-left:20px; 
	 display: inline-block;
	 border-radius: 5px;
	 background:#FFF;
	 box-shadow:3px 3px 6px rgba(50,50,50,0.28);
	
}

.caixacasas:hover{
	 -webkit-box-shadow: 5px 5px 8px rgba(50,50,50,0.28);
	 box-shadow:5px 5px 8px rgba(50,50,50,0.28);
	
}

.caixacasas a:hover{
	opacity:0.8;
}

.imagenscaixas{
	border-top-left-radius:5px; 
	border-top-right-radius:5px;
	
}

.conteudo {
    margin: auto;
    background:#CCC;
	min-height:100px;
	overflow: hidden;
	padding-bottom:10px;
	padding-top:20px;
	width:100%;
	text-align:center;
	
}

.caixaconteudo{
	 -webkit-box-shadow: 3px 3px 6px rgba(50,50,50,0.28);
	 display:inline-block;
	 border-radius: 5px;
	 background:#FFF;
	 box-shadow:3px 3px 6px rgba(50,50,50,0.28);
	
}
@media screen and (max-width:680px){
	.caixaconteudo{
	 -webkit-box-shadow:3px 3px 6px rgba(50,50,50,0.28);
	 margin-top:20px; 
	 margin-left:5%;
	 margin-right:5%;
	 float:left;
	 border-radius: 5px;
	 background:#FFF;
	 box-shadow:3px 3px 6px rgba(50,50,50,0.28);
	 overflow:hidden;
	
}
}

.caixacasassearchresults{
	 -webkit-box-shadow:3px 3px 6px rgba(50,50,50,0.28);
	 margin-top:20px; 
	 margin-left:20px;
	 width:95%;
	 float:left;
	 border-radius: 5px;
	 background:#FFF;
	 box-shadow:3px 3px 6px rgba(50,50,50,0.28);
}

.caixacasassearchresults a:hover{
	opacity:0.8;
}

.imagenscaixassearchresult{
	border-top-left-radius:5px; 	
}
.btn{
	background-color:#3D121C; 
	border-color:#3D121C; 
	border-radius:4px; 
	border:none; 
	line-height: 43px;
	box-shadow:2px 2px 10px 1px #3D121C;
}

.btn:hover{
	opacity:0.8;
}
.btn:active{
	box-shadow:none;
}

footer { 
/* Footer */
margin-top:20px;
   bottom:0;
   width:100%;
   background:#651D31;
   min-height:218px;
   height:auto;
   overflow:hidden;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #fff url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border:none;
	padding: 9px 10px 9px 32px;
	width: 150px;
	height:28px;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 150px;
	background-color: #fff;
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

@media screen and (max-width:680px){
	input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #fff url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border:none;
	padding: 9px 10px 9px 32px;
	width: 1px;
	height:28px;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 100px;
	background-color: #fff;
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

	
}

#back-top {
	position: fixed;
	bottom: 0px;
	right: 20px;
}
#back-top a {
	width: 40px;
	display: block;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon */
#back-top span {
	width: 40px;
	height: 40px;
	display: block;
	margin-bottom: 7px;
	background: #3d121c  url(up-arrow.png) no-repeat center center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #3d121c; 
	opacity:0.8;
	border-color:#fff;
}

.pagination {
    display: inline-block;
	margin-top:30px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #fff;
	background-color: #fff;
}

.pagination a.active {
    background-color: #651D31;
    color: white;
    border: 1px solid #651D31;
}

.pagination a:hover:not(.active) {
	background-color: #651D31;
	border: 1px solid #651D31;
	color: white;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#iright {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}
#iright.hover {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

#ileft {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}
#ileft.hover {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.arrowright {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrowleft {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.center {
    text-align: center;
}

header {
    height: auto;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
	z-index: 3;
	margin: 0;
    padding: 0;
}

.nav-up {
    top: -60px;
}

.subfooter{
	width:100%; 
	height:40px; 
	background-color:#651D31; 
	top:0; 
	z-index:3;
	text-align:center;
	color:#FFF; 
}
/*Like button*/
.heart {
  height: 60px;
  width: 60px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}

.heart:hover {
  background-position:right;
}

.heart.liked {
  background-position:right;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}

.parallax {
    /* The image used */
    background-image: url(../logo.jpg);

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size:auto;
	
	width: 100%;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}