@charset "UTF-8";
/* Scss Document */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  /*Corre├ºao de um bug no body*/
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%; }

/*------------ menu ------------*/
ul.menu {
  /*menu*/
  list-style-type: none;
  list-style-position: inside;
  display: table;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
  height: 60px;
  width: 100%;
  z-index: 3;
  transition: 0.5s box-shadow; }
  ul.menu li {
    float: right;
    /*alinhamento dos links*/
    text-align: center;
    height: inherit; }
    ul.menu li a {
      display: inline-block;
      color: #651D31;
      text-align: center;
      padding: 22px;
      text-decoration: none; }
    ul.menu li:first-child {
      float: left; }
    ul.menu li:nth-child(2) {
      background-color: #FFF;
      color: #651D31;
      cursor: pointer; }
      ul.menu li:nth-child(2) a {
        text-decoration: none;
        background-color: #FFF;
        color: #651D31;
        cursor: pointer; }
      ul.menu li:nth-child(2):hover a {
        background-color: #FFF;
        color: #651D31;
        cursor: pointer; }
    ul.menu li:first-child:hover a {
      background-color: #FFF;
      color: #FFF;
      padding: 22px; }
    ul.menu li a:hover {
      background-color: #651D31;
      color: #FFF;
      padding: 22px; }
    ul.menu li a.active {
      background-color: #651D31;
      color: #FFF; }

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 60px;
  width: auto;
  z-index: 1;
  background-color: #FFF; }
  .dropdown-content.show {
    display: block; }

.dropdown:hover {
  background-color: #FFF; }

ul.menu li.icon {
  display: none; }

@media screen and (max-width: 680px) {
  ul.menu li:not(:first-child) {
    display: none; }
  ul.menu li.icon {
    float: right;
    display: inline-block; } }
@media screen and (max-width: 680px) {
  ul.menu.responsive {
    position: fixed; }
    ul.menu.responsive li {
      float: none;
      display: block; }
      ul.menu.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0; }
      ul.menu.responsive li a {
        display: block;
        text-align: center; } }
/*-------- fim menu ----------*/
/*--------paragrafos---------*/
p {
  /*estilo do paragrafo*/
  margin-left: 20px;
  margin-top: 20px; }

.pcaixa {
  /*estilo do paragrafo*/
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  max-width: 21cm;
  width: auto;
  float: left; }

/*-------- fim paragrafos ---------*/
/*-------casas---------*/
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.casacard {
  min-width: 250px;
  max-width: 250px;
  height: 260px;
  background: #FFF;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  flex: 1;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .casacard a {
    text-decoration: none;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .casacard a:hover {
      opacity: 0.8; }
  .casacard img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .casacard .divtexto {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row; }
  .casacard:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.22); }

#casas {
  background: #f2f4f5;
  max-width: 100%;
  min-height: 100px;
  padding-top: 10px;
  overflow: hidden; }

/*------- fim casas ---------*/
/*-------- conteudo --------*/
.conteudo {
  margin: auto;
  background: #f2f4f5;
  min-height: 100px;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 100%;
  text-align: center; }

.caixaconteudo {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: inline-block;
  border-radius: 5px;
  background: #FFF; }

@media screen and (max-width: 680px) {
  .caixaconteudo {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    border-radius: 5px;
    background: #FFF;
    overflow: hidden; } }
/*-------- fim conteudo------------*/
/*-------- search results card-----*/
.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto; }

.uva-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24); }
  .uva-card:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.22); }
  .uva-card .uva-card__media {
    max-width: 50%;
    position: relative; }
    .uva-card .uva-card__media a {
      text-decoration: none;
      opacity: 1;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
      .uva-card .uva-card__media a:hover {
        opacity: 0.8; }
    .uva-card .uva-card__media img {
      width: 200px;
      height: 200px;
      display: block;
      border-radius: 2px 0 0 2px;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0; }

.uva-primarydiv {
  width: 100%;
  display: flex;
  flex-direction: row; }

.uva-card__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  border-radius: 0 0 2px 2px; }

.uva-card__title {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.53);
  padding: 15px 0px 15px 20px; }

.uva-card__body {
  display: flex;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  font-size: 14px; }

.uva-card__actions {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px; }
  .uva-card__actions a {
    text-decoration: none; }

@media screen and (max-width: 680px) {
  .container {
    width: 255px;
    margin-left: auto;
    margin-right: auto; }

  .uva-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24); }
    .uva-card:hover {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.22); }
    .uva-card .uva-card__media {
      max-width: 100%;
      position: relative; }
      .uva-card .uva-card__media a {
        text-decoration: none;
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out; }
        .uva-card .uva-card__media a:hover {
          opacity: 0.8; }
      .uva-card .uva-card__media img {
        width: 100%;
        height: 200px;
        display: block;
        border-radius: 2px 2px 0 0;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }

  .uva-primarydiv {
    width: 100%;
    display: flex;
    flex-direction: row; }

  .uva-card__content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    border-radius: 0 0 2px 2px; }

  .uva-card__title {
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.53);
    padding: 15px 0px 15px 20px; }

  .uva-card__body {
    display: flex;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    font-size: 14px; }

  .uva-card__actions {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px; }
    .uva-card__actions a {
      text-decoration: none; } }
/*--------- fim search results card --------*/
/*--------- buttons --------*/
.btnfooter {
  width: 150px;
  height: 50px;
  margin: 0 10px 10px 0;
  background: #3D121C;
  color: white;
  line-height: 50px;
  text-align: center;
  font-size: 22px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }

.cercle {
  width: 0px;
  height: 0px;
  position: absolute;
  border-radius: 50%; }

.light .cercle {
  background: white; }

.dark .cercle {
  background: black; }

.anim {
  opacity: 0.3;
  animation: touch 1.5s ease-out; }

@keyframes touch {
  100% {
    width: 500px;
    height: 500px;
    border-radius: 500px;
    opacity: 0;
    margin: -250px; } }
/*-------- fim buttons -------*/
/*--------- Footer ----------*/
.footer {
  margin-top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #651D31;
  min-height: 218px;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center; }

/*-------- footer --------*/
/*-------- search --------*/
input {
  outline: none; }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%; }
  input::-webkit-search-decoration, input::-webkit-search-cancel-button {
    display: none; }
  input[type=search] {
    background: #FFF url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: none;
    padding: 9px 10px 9px 32px;
    width: 150px;
    height: 28px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
    input[type=search]:focus {
      width: 150px;
      background-color: #FFF; }
  input:-moz-placeholder, input::-webkit-input-placeholder {
    color: #999; }

@media screen and (max-width: 680px) {
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%; }
  input::-webkit-search-decoration, input::-webkit-search-cancel-button {
    display: none; }
  input[type=search] {
    background: #FFF url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: none;
    padding: 9px 10px 9px 32px;
    width: 1px;
    height: 28px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
    input[type=search]:focus {
      width: 100px;
      background-color: #FFF; }
  input:-moz-placeholder, input::-webkit-input-placeholder {
    color: #999; } }
/*--------- fim footer --------*/
/*--------- scroll to top button ------------*/
#back-top {
  position: fixed;
  bottom: -10px;
  right: 20px;
  -webkit-transition-property: margin-bottom;
  /* Safari */
  -webkit-transition-duration: 0.3s;
  /* Safari */
  transition-property: margin-bottom;
  transition-duration: 0.3s; }
  #back-top a {
    width: 40px;
    display: block;
    color: #bbb; }
    #back-top a:hover {
      color: #000; }
  #back-top span {
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 7px;
    background: #3D121C url(up-arrow.png) no-repeat center center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  #back-top a:hover span {
    background-color: #3D121C;
    opacity: 0.8;
    border-color: #FFF; }

/* arrow icon */
.backtop-hidden {
  margin-bottom: -60px; }

/*------- fim scroll to top ----------*/
/*------- pagination -----------*/
.pagination {
  display: inline-block;
  margin-top: 30px; }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #FFF;
    background-color: #FFF; }
    .pagination a.active {
      background-color: #651D31;
      color: #FFF;
      border: 1px solid #651D31; }
    .pagination a:hover:not(.active) {
      background-color: #651D31;
      border: 1px solid #651D31;
      color: #FFF; }
    .pagination a:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .pagination a:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }

#iright, #ileft {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px; }
  #iright.hover, #ileft.hover {
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px; }

.arrowright {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.arrowleft {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg); }

/*---------- fim pagination --------*/
.center {
  text-align: center; }

/*---------- fixed header ----------*/
header {
  height: auto;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 3;
  margin: 0;
  padding: 0; }

.nav-up {
  top: -60px; }

/*--------- fim fixed header -----------*/
/*--------- subfooter ----------*/
.subfooter {
  width: 100%;
  height: 40px;
  background-color: #651D31;
  top: 0;
  z-index: 3;
  text-align: center;
  color: #FFF; }

/*-------- fim subfooter -------*/
/*-------- Like button --------*/
.heart {
  height: 60px;
  width: 60px;
  background-image: url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%; }
  .heart:hover, .heart.liked {
    background-position: right; }

.is_animating {
  animation: heart-burst 0.8s steps(28) 1; }

@keyframes heart-burst {
  from {
    background-position: left; }
  to {
    background-position: right; } }
/*------- fim like button -----------*/
/*------- paralax effect -----------*/
.parallax {
  /* The image used */
  background-image: url(../logo.jpg);
  /* Set a specific height */
  height: 550px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%; }
  @media only screen and (max-device-width: 1024px) {
    .parallax {
      background-attachment: scroll; } }

.profileparallax {
  background-color: #651D31;
  /* Set a specific height */
  height: 550px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%; }
  @media only screen and (max-device-width: 1024px) {
    .profileparallax {
      background-attachment: scroll; } }

/*-------- fim parallax effect ---------*/
/*-------- circular image -------------*/
.circular_image {
  width: 200px;
  height: 200px;
  border-radius: 150%;
  overflow: hidden; }
  .circular_image img {
    width: 100%; }

/*-------- fim circular image ------*/
/*-------- edit link -------------*/
.profileeditlink {
  color: #FFF;
  text-decoration: none; }
  .profileeditlink:hover {
    color: #FFF;
    text-decoration: underline; }

/*------ fim edit link -------*/
/*------ Snackbar ----------*/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #FFF;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px; }
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
/*-------- fim snackbar --------*/
.hide {
  display: none; }

/*-------- tabs ------------*/
.slick-initialized .swipe-tab-content {
  position: relative;
  min-height: 365px; }
  @media screen and (min-width: 767px) {
    .slick-initialized .swipe-tab-content {
      min-height: 200px; } }
.slick-initialized .swipe-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #FFF;
  border: 0;
  color: #757575;
  cursor: pointer;
  text-align: center;
  border-bottom: 2px solid rgba(101, 29, 49, 0);
  transition: all 0.5s; }
  .slick-initialized .swipe-tab:hover {
    color: #651D31; }
  .slick-initialized .swipe-tab.active-tab {
    border-bottom-color: #651D31;
    color: #651D31;
    font-weight: bold; }

.main-container {
  padding: 25px;
  background: #f2f4f5; }

/*-------- fim tabs -----------*/
/*-------- preloader ---------*/
.preloader-wrapper {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px; }
  .preloader-wrapper.small {
    width: 36px;
    height: 36px; }
  .preloader-wrapper.big {
    width: 64px;
    height: 64px; }
  .preloader-wrapper.active {
    /* duration: 360 * ARCTIME / (ARCSTARTROT + (360-ARCSIZE)) */
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite; }

@-webkit-keyframes container-rotate {
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes container-rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.spinner-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-color: #26a69a; }

.spinner-blue,
.spinner-blue-only {
  border-color: #4285f4; }

.spinner-red,
.spinner-red-only {
  border-color: #db4437; }

.spinner-yellow,
.spinner-yellow-only {
  border-color: #f4b400; }

.spinner-green,
.spinner-green-only {
  border-color: #0f9d58; }

.spinner-custom,
.spinner-custom-only {
  border-color: #9b0062; }

.spinner-white,
.spinner-white-only {
  border-color: #FFF; }

/**
 * IMPORTANT NOTE ABOUT CSS ANIMATION PROPERTIES (keanulee):
 *
 * iOS Safari (tested on iOS 8.1) does not handle animation-delay very well - it doesn't
 * guarantee that the animation will start _exactly_ after that value. So we avoid using
 * animation-delay and instead set custom keyframes for each color (as redundant as it
 * seems).
 *
 * We write out each animation in full (instead of separating animation-name,
 * animation-duration, etc.) because under the polyfill, Safari does not recognize those
 * specific properties properly, treats them as -webkit-animation, and overrides the
 * other animation rules. See https://github.com/Polymer/platform/issues/53.
 */
.active .spinner-layer.spinner-blue {
  /* durations: 4 * ARCTIME */
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
.active .spinner-layer.spinner-red {
  /* durations: 4 * ARCTIME */
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
.active .spinner-layer.spinner-yellow {
  /* durations: 4 * ARCTIME */
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
.active .spinner-layer.spinner-green {
  /* durations: 4 * ARCTIME */
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
.active .spinner-layer.spinner-custom {
  /* durations: 4 * ARCTIME */
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
.active .spinner-layer.spinner-white {
  /* durations: 4 * ARCTIME */
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.active .spinner-layer.spinner-blue-only, .active .spinner-layer.spinner-red-only, .active .spinner-layer.spinner-yellow-only, .active .spinner-layer.spinner-green-only, .active .spinner-layer.spinner-custom-only, .active .spinner-layer.spinner-white-only {
  /* durations: 4 * ARCTIME */
  opacity: 1;
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

@-webkit-keyframes fill-unfill-rotate {
  12.5% {
    -webkit-transform: rotate(135deg); }
  /* 0.5 * ARCSIZE */
  25% {
    -webkit-transform: rotate(270deg); }
  /* 1   * ARCSIZE */
  37.5% {
    -webkit-transform: rotate(405deg); }
  /* 1.5 * ARCSIZE */
  50% {
    -webkit-transform: rotate(540deg); }
  /* 2   * ARCSIZE */
  62.5% {
    -webkit-transform: rotate(675deg); }
  /* 2.5 * ARCSIZE */
  75% {
    -webkit-transform: rotate(810deg); }
  /* 3   * ARCSIZE */
  87.5% {
    -webkit-transform: rotate(945deg); }
  /* 3.5 * ARCSIZE */
  to {
    -webkit-transform: rotate(1080deg); }
  /* 4   * ARCSIZE */ }
@keyframes fill-unfill-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  /* 0.5 * ARCSIZE */
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); }
  /* 1   * ARCSIZE */
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg); }
  /* 1.5 * ARCSIZE */
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg); }
  /* 2   * ARCSIZE */
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg); }
  /* 2.5 * ARCSIZE */
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg); }
  /* 3   * ARCSIZE */
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg); }
  /* 3.5 * ARCSIZE */
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg); }
  /* 4   * ARCSIZE */ }
@-webkit-keyframes blue-fade-in-out {
  from {
    opacity: 1; }
  25% {
    opacity: 1; }
  26% {
    opacity: 0; }
  89% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes blue-fade-in-out {
  from {
    opacity: 1; }
  25% {
    opacity: 1; }
  26% {
    opacity: 0; }
  89% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-webkit-keyframes red-fade-in-out {
  from {
    opacity: 0; }
  15% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  51% {
    opacity: 0; } }
@keyframes red-fade-in-out {
  from {
    opacity: 0; }
  15% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  51% {
    opacity: 0; } }
@-webkit-keyframes yellow-fade-in-out {
  from {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  76% {
    opacity: 0; } }
@keyframes yellow-fade-in-out {
  from {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  76% {
    opacity: 0; } }
@-webkit-keyframes green-fade-in-out {
  from {
    opacity: 0; }
  65% {
    opacity: 0; }
  75% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes green-fade-in-out {
  from {
    opacity: 0; }
  65% {
    opacity: 0; }
  75% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/**
 * Patch the gap that appear between the two adjacent div.circle-clipper while the
 * spinner is rotating (appears on Chrome 38, Safari 7.1, and IE 11).
 */
.gap-patch {
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-color: inherit; }
  .gap-patch .circle {
    width: 1000%;
    left: -450%; }

.circle-clipper {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-color: inherit; }
  .circle-clipper .circle {
    width: 200%;
    height: 100%;
    border-width: 3px;
    /* STROKEWIDTH */
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; }
  .circle-clipper.left .circle {
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg); }
  .circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg); }

.active .circle-clipper.left .circle {
  /* duration: ARCTIME */
  -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
.active .circle-clipper.right .circle {
  /* duration: ARCTIME */
  -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg); } }
@keyframes left-spin {
  from {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg); } }
@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg); } }
@keyframes right-spin {
  from {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg); } }
#spinnerContainer.cooldown {
  /* duration: SHRINK_TIME */
  -webkit-animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1); }

@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/*-------- fim preloader ---------*/

/*# sourceMappingURL=styles.css.map */
